@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  /*background-color:#9fb496;*/
  display: flex;
  flex-direction: column;
  background-color: #9fb496;
  width: 100%;
  text-align: center;
  background: linear-gradient(120deg, #9fb496 40%, #4267b3 80.71%);
  overflow-x: hidden;

  /*background: linear-gradient(180deg,#9fb496, #4267b3 70.71%);*/
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

p,
h1,
h2,
h3 {
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  /* max-height: 100px; */
  background-color: #9fb496;
  z-index: 100;
}

.nav-bar {
  display: flex;
  justify-content: center;
  background-color: #9fb496;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.logo h1 {
  color: #fff;
  font-family: cursive;
  font-size: 45px;
}

.nav-item {
  margin: 0 15px;
}

.mobile-icon {
  display: none;
}

.contact {
  position: absolute;
  display: flex;
  align-items: center;
  width: 250px;
  right: 0px;
}

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  background-color: transparent;
  padding: 0 400px;
  z-index: 99;
}

.title {
  font-size: 1.6em;
  margin-bottom: 20px;
  font-weight: 800;
}

.content {
  font-size: 1.2em;
  font-weight: 600;
}
.anim {
  margin-top: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: animate 30s ease-in-out infinite;
  opacity: 0.7;
}

.anim .about {
  opacity: 1; 
}


@keyframes animate {
  0% {
    background-image: url(../images/unsplash-wood-fence-1.jpg);
  }
  15% {
    background-image: url(../images/unsplash-wood-fence-1.jpg);
  }
  20% {
    background-image: url(../images/unsplash-tree-removal-1.jpg);
  }
  35% {
    background-image: url(../images/unsplash-tree-removal-1.jpg);
  }
  40% {
    background-image: url(../images/mulch.jpg);
  }
  55% {
    background-image: url(../images/mulch.jpg);
  }
  60% {
    background-image: url(../images/sod.png);
  }
  75% {
    background-image: url(../images/sod.png);
  }
  80% {
    background-image: url(../images/unsplash-lawn-1.jpg);
  }
  95% {
    background-image: url(../images/unsplash-lawn-1.jpg);
  }
  100% {
    background-image: url(../images/unsplash-wood-fence-1.jpg);
  }
}

.principal {
  width: 98%;
  align-self: center;
  margin-top: 70px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 70px;
}

.principal h2 {
  margin-bottom: 0;
}

.content {
  margin: auto;
  align-items: center;
}

.content p {
  font-weight: 400;
  color: #fff;
  text-align: center;
}

#offered {
  margin-bottom: 20px;
}
.service {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 80%;
  gap: 10px;
}

#facts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  width: 80%;
}

#facts p {
  font-size: 20px;
}

#works {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}

#works p {
  font-weight: 800;
}

.container-img {
  display: flex;
  gap: 4px;
  height: 200px;
}

.item {
  width: 100%;
  height: 100%;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  flex: 1 1 30%;
  width: 30%;
  max-width: 30%;
  height: fit-content;
}

.icons {
  height: 100%;
  width: 80%;
}

.container-slide {
  align-self: center;
  width: 98%;
  height: 550px;
  overflow-x: hidden;
}

.slider1 {
  height: 100%;
  position: relative;
  width: 100%;
}

.slider2 {
  height: 100%;
  width: 100%;
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider2 img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

footer {
  align-self: center;
  margin-top: 70px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  width: 98%;
  color: var(--color-neutral-40);
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 20px;
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  text-align: center;
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 200;
}

/* smartphones */

@media screen and (max-width: 576px) {
  header {
    flex-direction: column;
  }

  .nav-bar {
    padding: 1.5rem 4rem;
  }
  .nav-item {
    display: none;
  }
  .logo h1 {
    font-size: 25px;
  }
  .anim {
    margin-top: 184px; 
  
  }
  .contact {
    position: static;
    background-color: rgb(158, 158, 29);
    width: 100%;
    padding: 18px 0;
    justify-content: center;
    font-weight: 500;
  }
  .about {
    padding: 0 10px;
  }
  #works {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 35px;
  }
  #works .work {
    width: 100%;
    flex: 1;
    margin: 0px;
    max-width: 100%;
    min-width: 100%;
    max-height: 234px;
  }
  .container-slide {
    height: 300px;
  }
 
}

/* Tablets */
@media screen and (min-width: 576px) and (max-width: 850px) {
  header {
    flex-direction: column;
  }
  .logo h1 {
    font-size: 30px;
  }
  .contact {
    position: static;
    background-color: rgb(158, 158, 29);
    width: 100%;
    padding: 18px 0;
    justify-content: center;
    font-weight: 500;
  }
  .about {
    padding: 0 180px;
  }
  #works {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  #works .work {
    flex: 1 1 45%;
    margin: 0px;
    max-width: 300px;
    /* min-width: 290px; */
    width: 500px;
    max-height: 234px;
  }
 
}

@media screen and (min-width: 850px) and (max-width: 1270px) {
  header {
    flex-direction: column;
  }
  .contact {
    position: static;
    background-color: rgb(158, 158, 29);
    width: 100%;
    padding: 18px 0;
    justify-content: center;
    font-weight: 500;
  }
  .about {
    padding: 0 180px;
  }
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 1173px) {
  #works .work {
    margin: 0px;
    width: 400px;
    max-height: 234px;
  }
}

/*
@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
    
}

@media screen and (max-width: 670px) {
    .logo h1 {
        font-size: 40px;
    }
    .work{
        flex: 1 1 40%;
        width: 40%;
        max-width: 40%;
        height: 35vh;
    }
}
@media screen and (max-width: 501px) {
    #footer_contacts h1{
        font-size: 25px;
    }
}
@media screen and ( max-width: 367px){
    #footer_contacts h1{
        font-size: 22px;
    }
}

@media screen and (max-width: 430px) {
    #lg{
        width: 60px;
        height: 60px;
    }
    header{
        max-height: 80px;
        min-height: 80px;   
    }
    .logo h1 {
        
        font-size: 28px;
    }
    .work{
        flex: 1 1 35%;
        width: 40%;
        max-width: 40%;
        height: 30vh;
    }

}
@media screen and (max-width: 1680px) {
   
    .work{
        flex: 1 1 30%;
        width: 30%;
        max-width: 30%;
        height:30vh;
    }

}
*/
